@import "tailwindcss";

@keyframes fillProgress {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

@keyframes storyAppear {
  0% {
    opacity: 0;
    transform: scale(1.05);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-story {
  animation: storyAppear 0.4s ease-out forwards;
}
